@page "/modelos"
@attribute [StreamRendering]

@using System.Text.Json
@using webapp_monitor.Models
@inject IConfiguration Configuration
@inject ILogger<Modelos> _logger

<PageTitle>Modelos</PageTitle>

<h1>Modelos de Produto</h1>

@if (modelos == null)
{
    <p><em>Carregando...</em></p>
}
else if (!modelos.Any())
{
    <p>Nenhum modelo encontrado.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data Modificação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelo in modelos)
            {
                <tr>
                    <td>@modelo.ProductModelId</td>
                    <td>@modelo.Name</td>
                    <td>@modelo.CatalogDescription</td>
                    <td>@modelo.ModifiedDate?.ToString("yyyy-MM-dd => HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProductModel>? modelos;

    protected override async Task OnInitializedAsync()
    {
        var baseUrl = Configuration["ApiSettings:BaseUrl"];
        var endpoint = Configuration["ApiSettings:ObterModelos"];
        var url = $"{baseUrl}{endpoint}";

        // url = "https://func-monitor-brz-jaon.azurewebsites.net/api/ObterModelos";
        // url = https://apim-monitor-brz-jaon.azure-api.net/func-monitor-brz-jaon/ObterModelos

        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, url);
        request.Headers.Add("Ocp-Apim-Subscription-Key", "6be84e314db74fdd8965a711c95fb02c");
        var response = await client.SendAsync(request);

        var rand = new Random().Next(0, 100);
        if (rand == 17 || rand == 13)
        {
            _logger.LogError("Erro simulado para teste de Application Insights 🚨");
            throw new Exception("Erro simulado para teste de Application Insights");
        }


        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();

            modelos = JsonSerializer.Deserialize<List<ProductModel>>(json, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
        }
        else
        {
            modelos = new List<ProductModel>();
        }

        _logger.LogInformation("Teste Application Insights funcionando 🚀");
    }
}